.vue-box{margin: 0; padding: 0; height: 100%;}
.el-card{border-radius: 0px; border: 1px #ddd solid ; margin-bottom: 14px;}
.s-row{/* background-color: antiquewhite; */ padding: 0 14px; padding-bottom: 0px;}
.s-row-1{padding-top: 14px;}
.s-row-2{/* margin-top: -10px; */}
.s-row-2 .el-card .el-card__body{height: 250px;}
.s-row-3 .el-card{/* height: 100%; */}
/* 第一行 */
.sa-wnk{background-color: #FFF; border: 1px #ddd solid; margin-bottom: 14px; min-height: 100px; 
	cursor: pointer; transition: all 0.3s; overflow: hidden;}
.sa-wnk:hover{box-shadow: 0 0 20px #999;}
.sa-wnk img{float: left; line-height: 100px; margin: 25px 0px 0 20px; width: 50px; height: 50px; vertical-align: middle;}
.sa-wnk .sa-wnk-tv{float: left; margin-left: 10px; max-width: calc(100% - 100px);}
.sa-wnk-title{margin-top: 25px; font-size: 16px;}
.sa-wnk-value{margin-top: 4px; font-size: 24px; padding-bottom: 20px;}
/* 第二行 */
.echarts-div{height: 100%;}
/* 第三行 */
.s-row-3 .btn-box{margin-bottom: 4px; }
.s-row-3 .btn-box .el-button{margin-bottom: 10px; }
.s-row-3 .el-alert{margin-bottom: 14px;}

.el-timeline-item__timestamp { color: #207EFF;}
.vue-box .el-timeline-item__content{color: #666;}
