html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
    font-family:microsoft yahei;
    font-size:12px;
    margin:0;
    background-image: url(admin-login-bg.jpg) ;
	/* background-size: 100% 100%; */
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
ul {
    padding:0;
    margin:0
}
ul li {
    list-style-type:none
}
a {
    text-decoration:none
}
a:hover {
    text-decoration:none;
    color:red
}
.cl {
    clear:both
}
input[type=text]:focus, input[type=password]:focus {
    outline:0
}
input::-ms-clear {
    display:none
}
.login {
    margin:0 auto;
    width:370px;
    border:2px solid #eee;
    border-bottom:0;
    position:relative
}
.header {
    height:50px;
    border-bottom:1px solid #e2e2e2;
    position:relative;
    font-family:microsoft yahei
}
.header .switch {
    height:45px;
    position:absolute;
    left:60px;
    bottom:0;
    font-size:16px
}
.header .switch #switch_qlogin {
    margin-right:85px
}
.header .switch .switch_btn {
    color:#999;
    display:inline-block;
    height:45px;
    line-height:45px;
    outline:0;
    *hide-focus:expression(this.hideFocus=true)
}
.header .switch .switch_btn_focus {
    color:#333;
    display:inline-block;
    height:45px;
    line-height:45px;
    outline:0;
    *hide-focus:expression(this.hideFocus=true)
}
.header .switch .switch_btn:hover {
    color:#333;
    text-decoration:none
}
.header .switch .switch_btn_focus:hover {
    text-decoration:none
}
#switch_bottom {
    position:absolute;
    bottom:-1px;
    _bottom:-2px;
    border-bottom:2px solid #848484
}
.web_login {
    width:370px;
    position:relative
}
#web_login {
    _left:60px;
    *left:0
}
.web_login .login_form {
    width:272px;
    margin:0 auto
}
.web_login .reg_form {
    width:300px;
    margin:0 auto
}
.web_login .input-tips {
    float:left;
    margin-top:10px;
    width:50px;
    height:42px;
    font-size:16px;
    line-height:42px;
    font-family:hiragino sans gb, microsoft yahei
}
.web_login .input-tips2 {
    float:left;
    text-align:right;
    padding-right:10px;
    width:75px;
    height:30px;
    font-size:16px;
    margin-top:10px;
    clear:both;
    line-height:30px;
    font-family:hiragino sans gb, microsoft yahei
}
.web_login .inputOuter {
    width:200px;
    height:42px;
    margin-top:10px;
    float:left
}
.web_login .inputOuter2 {
    width:200px;
    margin-top:6px;
    margin-top:5px\9;
    float:left
}
.web_login .inputstyle {
    width:200px;
    height:38px;
    padding-left:5px;
    line-height:30px;
    line-height:38px;
    border:1px solid #d7d7d7;
    background:#fff;
    color:#333;
    border-radius:2px;
    font-family:Verdana, Tahoma, Arial;
    font-size:16px;
    ime-mode:disabled
}
.web_login input.inputstyle2:focus, .web_login input.inputstyle:focus {
    border:1px solid #198bd4;
    box-shadow:0 0 2px #198bd4
}
.web_login .inputstyle2 {
    width:200px;
    height:34px;
    padding-left:5px;
    line-height:34px;
    border:1px solid #d7d7d7;
    background:#fff;
    color:#333;
    border-radius:2px;
    font-family:Verdana, Tahoma, Arial;
    font-size:16px;
    ime-mode:disabled
}
.web_login .uinArea {
    height:55px;
    position:relative;
    z-index:10
}
.web_login .pwdArea {
    height:55px;
    margin-bottom:10px;
    position:relative;
    z-index:3
}
.web_qr_login {
    position:relative;
    overflow:hidden
}
.cue {
    height:40px;
    line-height:40px;
    font-size:14px;
    border:1px #ccc solid;
    margin-top:10px;
    margin-bottom:5px;
    text-align:center;
    font-family:hiragino sans gb, microsoft yahei
}
.login {
    background-color:#fff
}
h1 {
    /* margin:80px auto 50px; */
	margin: 0;
	padding: 80px auto 50px;;
    text-align:center;
    color:#fff;
    margin-left:-25px;
    font-size:35px;
    font-weight:700;
    text-shadow:0 1px 1px #555
}
h1 sup {
    font-size:18px;
    font-style:normal;
    position:absolute;
    margin-left:10px
}
.login {
    border:0;
    padding:5px 0;
    background:#fff;
    margin:0 auto;
    -webkit-box-shadow:1px 1px 2px 0 rgba(0, 0, 0, .3);
    box-shadow:1px 1px 2px 0 rgba(0, 0, 0, .3)
}
.web_login {
    padding-bottom:20px
}
.jianyi {
    color:#fff;
    text-align:center;
    margin-top:25px;
    color:#b3b8c4
}
.reg_form li {
    height:55px
}
.cue {
    margin-top:15px;
    margin-bottom:10px;
    border:1px solid #eee;
    border-radius:3px
}
.web_login input.inputstyle2:focus, .web_login input.inputstyle:focus {
    border:1px solid #5796f;
    box-shadow:0 0 0
}
.web_login .reg_form {
    width:300px;
    margin:0 auto
}
.web_login .inputstyle2 {
    border-radius:2px;
    width:210px
}
.web_login .input-tips2 {
    padding-right:5px;
    width:80px;
    _width:75px;
    _font-size:12px
}
.button_blue {
    display:inline-block;
    float:left;
    height:41px;
    border-radius:4px;
    background:#2795dc;
    border:0;
    cursor:pointer;
    border-bottom:3px solid #0078b3;
    *border-bottom:none;
    color:#fff;
    font-size:16px;
    padding:0 10px;
    *width:140px;
    text-align:center;
    outline:0;
    font-family:microsoft yahei, Arial, Helvetica, sans-serif
}
input.button_blue:hover {
    background:#0081c1;
    border-bottom:3px solid #006698;
    *border-bottom:none;
    color:#fff;
    text-decoration:none
}
a.zcxy {
    text-decoration:underline;
    line-height:58px;
    margin-left:15px;
    color:#959ca8
}
.web_login .login_form {
    margin-top:30px
}
.web_login .uinArea {
    height:60px
}
.header .switch {
    left:70px
}