@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

body,
html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
}

body {
	background-image: url(login_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

input {
	background-color: none;
}

img {
	border: 0;
}

.head {
	height: 38px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.head_welcome {
	float: left;
	height: 20px;
	width: 300px;
	margin-top: 8px;
	margin-left: 30px;
	font-family: "宋体";
	font-size: 14px;
	line-height: 20px;
	color: #FFF;
}

.head table {
	float: right;
	height: 20px;
	width: 80px;
	margin-top: 8px;
	margin-right: 30px;
	font-size: 14px;
	color: #FFF;
}

.head table a {
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
}

.head table a:hover {
	text-decoration: underline;
}


.logo {
	width: 1000px;
	height: 89px;
	margin: 150px auto 20px;
	text-align: center;
	font-size: 3.6em;
	font-family: "times new roman";
	color: #FFF;
	text-shadow: 0 0 0px #FFF;
	background-repeat: no-repeat;
	background-position: center;
}

.menu_login {
	width: 450px;
	margin: 0px auto 0px;
	background: rgba(255, 255, 255, 1);
	border-radius: 5px;
}

/*用户登录*/

#username {
	display: block;
	height: 40px;
	width: 340px;
	margin: 0 auto;
	font-family: "宋体";
	font-size: 16px;
	line-height: 40px;
	color: #333;
	text-decoration: none;
	text-indent: 36px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #dedede;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-left-color: #dedede;
	background: none;
	background-repeat: no-repeat;
	background-position: left center;
}

#password {
	display: block;
	height: 40px;
	width: 340px;
	margin: 0 auto;
	font-family: "宋体";
	font-size: 16px;
	line-height: 40px;
	color: #333;
	text-decoration: none;
	text-indent: 36px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #dedede;
	border-right-color: #dedede;
	border-bottom-color: #ccc;
	border-left-color: #dedede;
	background: none;
	background-repeat: no-repeat;
	background-position: left center;
}


.login_button {
	height: 40px;
}

.button1 {
	background: #0176b4;
	height: 40px;
	width: 138px;
	float: left;
	margin-left: 45px;
	font-family: "黑体";
	font-size: 18px;
	line-height: 40px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
}

.button2 {
	background: #b6b7b8;
	height: 40px;
	width: 138px;
	float: right;
	font-family: "黑体";
	font-size: 18px;
	line-height: 40px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	margin-right: 45px;
	border-radius: 5px;
}

.button1:hover {
	background: #0382c5;
	height: 40px;
	width: 138px;
	float: left;
	/* border: 1px solid #0085ca; */
	margin-left: 45px;
	font-family: "黑体";
	font-size: 18px;
	line-height: 40px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
}

.button2:hover {
	background: #c7c7c7;
	height: 40px;
	width: 138px;
	float: right;
	font-family: "黑体";
	font-size: 18px;
	line-height: 40px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	margin-right: 45px;
	border-radius: 5px;
}


.login_space1 {
	height: 30px;
}

.login_space2 {
	height: 20px;
}

.login_space3 {
	height: 30px;
}

.errorinfo {
	margin: 8px auto 0;
	height: 20px;
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #ff0000;
	text-align: center;
}
