<!DOCTYPE html>
<html>
	<head>
		<title>表单提交示例</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- 所有的 css & js 资源 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../../static/sa.css"> 
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
		<script src="https://unpkg.com/http-vue-loader@1.4.2/src/httpVueLoader.js"></script>
		<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
		<script src="../../static/sa.js"></script>
		<style type="text/css">
			.c-panel .el-form .el-input,
			.c-panel .el-form .el-textarea__inner{width: 250px;}
		</style>
	</head>
	<body>
		<div class="vue-box" style="display: none;" :style="'display: block;'">
			<div class="c-panel">
				<!-- 参数栏 -->
				<div class="c-title">表单提交</div>
				<el-form v-if="m">
					<sa-item type="text" name="普通参数" v-model="m.name" br></sa-item>
					<sa-item type="num" name="数值输入" v-model="m.count" br></sa-item>
					<sa-item type="textarea" name="多行输入" v-model="m.textareaValue" br></sa-item>
					<sa-item type="cascader" name="级联输入" v-model="m.jvalue" :options="joptions" br></sa-item>
					<sa-item type="date" name="日期选择" v-model="m.create_time" br></sa-item>
					<sa-item type="date-range" name="日期范围" :start.sync="m.startDate" :end.sync="m.endDate" br></sa-item>
					<sa-item type="slider" name="滑块参数" v-model="m.hValue" br></sa-item>
					
					<sa-item name="下拉输入" br>
						<el-select v-model="m.type_id">
							<el-option label="请选择" :value="0" disabled></el-option>
							<el-option v-for="type in typeList" :label="type.name" :value="type.id" :key="type.id"></el-option>
						</el-select>
					</sa-item>
					<sa-item name="单选参数" br>
						<el-radio-group v-model="m.single">
							<el-radio :label="1">参数1</el-radio>
							<el-radio :label="2">参数2</el-radio>
							<el-radio :label="3">参数3</el-radio>
						</el-radio-group>
					</sa-item>
					<sa-item name="多选参数" br>
						<el-checkbox v-model="m.checkbox_1">苹果</el-checkbox>
						<el-checkbox v-model="m.checkbox_2">鸭梨</el-checkbox>
						<el-checkbox v-model="m.checkbox_3">香蕉</el-checkbox>
						<el-checkbox v-model="m.checkbox_4">葡萄</el-checkbox>
					</sa-item>
					<sa-item name="单选按钮" br>
						<el-radio-group v-model="m.single2">
							<el-radio-button :label="1">参数1</el-radio-button>
							<el-radio-button :label="2">参数2</el-radio-button>
							<el-radio-button :label="3">参数3</el-radio-button>
							<el-radio-button :label="4">参数4</el-radio-button>
						</el-radio-group>
					</sa-item>
					<sa-item name="开关参数" br>
						<el-switch v-model="m.status" :active-value="1" :inactive-value="2" inactive-color="#ff4949"></el-switch>
						<span style="color: #999;" v-if="m.status==1">正常</span>
						<span style="color: #999;" v-else>禁用</span>
					</sa-item>
					
					<sa-item type="color" name="颜色选择" v-model="m.color" br></sa-item>
					<sa-item type="rate" name="评分组件" v-model="m.rateValue" br></sa-item>
					<sa-item name="" br>
						<el-button type="primary" icon="el-icon-plus" @click="ok()">确定</el-button>
					</sa-item>
				</el-form>
			</div>
		</div>
		<script src="mock-joptions.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				components: {
					"sa-item": httpVueLoader('../../sa-frame/com/sa-item.vue'),				// logo 
				},
				el: '.vue-box',
				data: {
					m: {	// 查询参数 
						name: '',
						count: '',
						create_time: '',
						create_time2: '',
						startDate: '',
						endDate: '',
						textareaValue: '',
						type_id: 0,
						jvalue: [],
						single: 1,
						single2: 1,
						checkbox_1: true,
						checkbox_2: true,
						checkbox_3: false,
						checkbox_4: false,
						status: 1,
						hValue: 20,
						rateValue: 0,
						color: '#409EFF'
					}, 
					typeList: [		// 类型数组  
						{id: 1, name: '类型1'}, 
						{id: 2, name: '类型2'}, 
						{id: 3, name: '类型3'}, 
						{id: 4, name: '类型4'}, 
					],
					joptions: mockJoptions
				},
				methods: {
					// 提交 
					ok: function() {
						// 表单校验 
						sa.checkNull(this.m.name, '请输入普通参数');
						sa.checkNull(this.m.count, '请输入数值参数');
						sa.check(this.m.type_id == 0, '请选择下拉框');
						// 提交 
						sa.alert('提交参数为：' + JSON.stringify(this.m));
					},
				},
				created: function(){
					this.$notify.info({
						title: '消息',
						message: '本页面展示提交表单时各种常见的各种姿势'
					});
				}
			})
			
		</script>
	</body>
</html>
