<!DOCTYPE html>
<html>
	<head>
		<title>商品分类表-添加/修改</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- 所有的 css js 资源 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../../static/sa.css"> 
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
		<script src="https://unpkg.com/http-vue-loader@1.4.2/src/httpVueLoader.js"></script>
		<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
		<script src="../../static/sa.js"></script>
		<style type="text/css">
			.c-panel .el-form .c-label{width: 6em !important;}
			.c-panel .el-form .el-input{width: 250px;}
		</style>
	</head>
	<body>
		<div class="vue-box" :class="{sbot: id}" style="display: none;" :style="'display: block;'">
			<!-- ------- 内容部分 ------- -->
			<div class="s-body">
				<div class="c-panel">
					<div class="c-title">数据添加</div>
					<el-form v-if="m">
						<!-- no字段： m.id - id -->
						<div class="c-item br">
							<label class="c-label">角色id：</label>
							<el-input v-model="m.id"></el-input>
						</div>
						<div class="c-item br">
							<label class="c-label">角色昵称：</label>
							<el-input v-model="m.role_name"></el-input>
						</div>
						<div class="c-item br">
							<label class="c-label">责任描述：</label>
							<el-input v-model="m.role_info"></el-input>
						</div>
						<div class="c-item br s-ok">
							<label class="c-label"></label>
							<el-button type="primary" icon="el-icon-plus" @click="ok()">保存</el-button>
						</div>
					</el-form>
				</div>
			</div>
			<!-- ------- 底部按钮 ------- -->
			<div class="s-foot">
				<el-button type="primary" @click="ok()">确定</el-button>
				<el-button @click="sa.closeCurrIframe()">取消</el-button>
			</div>
		</div>
		<script src="./moke-data.js"></script>
        <script>
			
			var app = new Vue({
				el: '.vue-box',
				data: {
					id: sa.p('id', 0),		// 获取超链接中的id参数（0=添加，非0=修改） 
					m: null,		// 实体对象 
				},
				methods: {
					// 创建一个 默认Model 
					createModel: function() {
						return {
							id: 0, 
							role_name: '角色名称',
							role_info: '责任描述',
							is_lock: 2,
							create_time: new Date(),
							is_update: false,
						}
					},
					// 提交数据 
					ok: function(){
						// 验证 
						sa.checkNull(this.m.role_name, '请输入角色名字');
						sa.checkNull(this.m.role_info, '请输入责任秘书');
						// 开始增加或修改
						sa.ajax2('/SysType/add', this.m, function(res){
							sa.alert('增加成功', function() {
								if(parent.app) {
									var m2 = sa.copyJSON(this.m);
									parent.app.dataList.push(m2);
									parent.sa.f5TableHeight();		// 刷新表格高度 
									sa.closeCurrIframe();	// 关闭本页 
								} else {
									app.m = this.createModel();
								}
							}.bind(this)); 
						}.bind(this));
					},
					// 添加/修改 完成后的动作
					clean: function() {
						if(this.id == 0) {
							this.m = this.createModel();
						} else {
							parent.app.f5();		// 刷新父页面列表
							sa.closeCurrIframe();	// 关闭本页 
						}
					}
				},
				mounted: function(){
					this.m = this.createModel();
				}
			})
		</script>
	</body>
</html>