/** 公共css */
*{margin: 0px;padding: 0px;}
html{font-size: 10px; height: 100%;}
body{font-size: 1.6rem; height: 100%; background-color: #eeeeee; background-color: #FFF;  color: #333;} 
a{text-decoration: none;}
a:hover{}
/* h1,h2,h3,h4,h5,h6{font-weight: 400;} */
hr{background-color : #ddd; height: 1px; border: none;}
input,select{outline: 0;}

/* input type=number时不显示按钮 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}

/* 居中形式的img */
.cover-img{object-fit: cover; object-position: 50% 30%;}

/* ajax2加载时的转圈圈样式 */
.ajax-layer-load{background-color: rgba(0,0,0,0.7) !important; color: #FFF !important;}



/* vue盒子 */
.vue-box{padding-bottom: 20px; font-size: 14px;}

/* 内容-面板 */
.c-panel{
	margin: 1em;
	padding: 1em;
	background-color: #F6F6F6;
	border: 1px #e5e5e5 solid;
	/* box-shadow: 0 0 2px #ccc; */
	color: #333;
}
.c-title{font-weight: bold; line-height: 2em; margin-bottom: 3px;}
.c-title span{font-weight: 400; font-size: 0.85em; padding-left: 1em; color: #888;}

/* 内容-item */
.c-item {
	min-width: 280px;
	min-height: 32px;
	line-height: 32px;
	padding-right: 20px;
	display: inline-block;
	margin: 0.5em 0;
}
/* label样式 */
.c-item .c-label{
	width: 5em; 
	color: #333;
	display: inline-block; 
	text-align: right;
}
/* input宽度等样式调整 */
.c-item .el-input{
	display: inline-block;
	width: 250px;
}
.c-item .el-input__inner {
	border-radius: 0px;
}

/* 解释 */
.c-remark{color: #888; margin-left: 0.5em; font-size: 0.9em;}
/* 按钮去圆角 */
.c-item .el-button{border-radius: 0px;}

/* 按钮样式调整 */
.c-button{zoom: 0.4; padding: 10px 15px;}
.c-button *{position: relative; top: 1px;}
.c-button.el-button--primary{background-color: #3296FA;}
.c-button.el-button--primary:hover{background-color: #067CF3;}
.c-button.el-button--danger{background-color: #CA4242;}
.c-button.el-button--danger:hover{background-color: #A00C0C;}
.c-button.el-button--success:hover{background-color: #2B9939;}

/* 表格里的input */
.c-table input,.c-add-table input{border-radius: 0px; border: 0px;}


/* 分页器的去除圆角 */
.c-panel .el-pagination input{
	border-radius: 0px !important;
}


