/* 样式调整为继承父级 */
.nav-left .el-submenu__title i,
.nav-left .el-menu-item i,
.nav-right-1 .el-dropdown,
.tab-title:hover .el-icon-caret-right,
.tab-title.tab-native .el-icon-caret-right {
	color: inherit;
}

.el-menu,
.el-submenu,
.nav-left .el-submenu__title,
.nav-left .el-submenu .el-submenu .el-submenu__title,
.nav-left .el-menu-item {
	color: inherit;
	background-color: inherit;
}

/* 切换主题时，停止动画 */
.themeToggling .nav-left,.themeToggling .nav-left *{transition: none !important;}
.themeToggling .nav-left-top,.themeToggling .nav-left-top *{transition: all 0.2s !important;}


/* ========================== 主题 - 0 默认样式 蓝色 ==========================  */
.theme-0 {}

/* 左边栏背景色，前景色 */
.theme-0 .nav-left {
	background-color: #222;
	color: #FFF;
}

/* 二级菜单背景色 */
.theme-0 .el-submenu .el-menu-item,
.theme-0 .nav-left .el-submenu .el-submenu .el-submenu__title{
	background-color: #000;
}

/* 所有菜单悬浮样式*/
.theme-0 .nav-left .el-submenu__title:hover,
.theme-0 .nav-left .el-submenu .el-submenu .el-submenu__title:hover,
.theme-0 .nav-left .el-menu-item:hover{
	background-color: #4E5465;
}
/* 所有菜单选中时 */
.theme-0 .nav-left .el-menu-item.is-active {
	background-color: #2D8CF0;
	color: #FFF;
}

/* 工具栏背景色颜色, 前景色 */
.theme-0 .nav-right-1 {
	color: #333;
	background-color: #FFF;
}

/* 工具栏悬浮颜色 */
.theme-0 .tool-fox:hover {
	background-color: #EEE;
}

/* 卡片栏悬浮颜色和选中颜色 */
.theme-0 .tab-title:hover,
.theme-0 .tab-native.tab-title {
	color: #2D8CF0;
}


/* ========================== 主题-1 什么也不覆盖 即：全部取默认样式 ==========================  */
.theme-1 {}

/* ========================== 主题-2 绿色 ==========================  */
.theme-2 {}

/* 所有菜单选中时 */
.theme-2 .nav-left .el-menu-item.is-active {
	background-color: #009688;
}

/* 卡片栏悬浮颜色和选中颜色 */
.theme-2 .tab-title:hover,
.theme-2 .tab-native.tab-title {
	color: #009688;
}

/* ========================== 主题-3 白色 清爽 ==========================  */
.theme-3 {}

/* 非标准附加样式 */
.theme-3 .nav-left-top{box-shadow: 0 2px 2px #CCC; width: 199px; border-right: 1px #DDD solid;}
.theme-3 .nav-left-bottom{width: 199px; border-right: 1px #DDD solid;}
.theme-3.fold .nav-left-bottom{width: 63px;}
/* .theme-3 .nav-right-1,.theme-3 .nav-right-2{border-left: 1px #eee solid;} */

/* 左边栏背景色，前景色 */
.theme-3 .nav-left {
	background-color: #FFF;
	color: #333;
}

/* 二级菜单背景色 */
.theme-3 .el-submenu .el-menu-item,
.theme-3 .nav-left .el-submenu .el-submenu .el-submenu__title{
	background-color: #fafafa;
}

/* 所有菜单悬浮样式时, 以及选中时 */
.theme-3 .nav-left .el-submenu__title:hover,
.theme-3 .nav-left .el-submenu .el-submenu .el-submenu__title:hover,
.theme-3 .nav-left .el-menu-item:hover,
.theme-3 .nav-left .el-menu-item.is-active {
	background-color: #ECF5FF;
	color: #409EFF;
}


/* ========================== 主题-4 上黑 下白 ==========================  */
.theme-4 {}

/* 非标准附加样式 */
.theme-4 .nav-left-top{height: 49px; line-height: 49px; text-indent: 2em; background-color: #222; color: #EEE;}
.theme-4 .nav-left-top .admin-logo{display: none;}

.theme-4 .nav-left-bottom{width: 199px; border-right: 1px #DDD solid;}
.theme-4.fold .nav-left-bottom{width: 63px;}
.theme-4 .nav-left .el-submenu__title,
.theme-4 .nav-left .el-menu-item{transition: background-color 0.1s;}

/* 左边栏背景色，前景色 */
.theme-4 .nav-left {
	background-color: #EEE;
	color: #333;
}

/* 二级菜单背景色 */
.theme-4 .el-submenu .el-menu-item,
.theme-4 .nav-left .el-submenu .el-submenu .el-submenu__title{
	background-color: #DDD;
}

/* 所有菜单悬浮样式时 */
.theme-4 .nav-left .el-submenu__title:hover,
.theme-4 .nav-left .el-submenu .el-submenu .el-submenu__title:hover,
.theme-4 .nav-left .el-menu-item:hover{
	background-color: #ECF5FF;
}
/* 所有菜单选中时 */
.theme-4 .nav-left .el-menu-item.is-active {
	background-color: #009688;
	color: #FFF;
}

/* 卡片栏悬浮颜色和选中颜色 */
.theme-4 .tab-title:hover,
.theme-4 .tab-native.tab-title {
	color: #009688;
}

/* 工具栏背景色颜色, 前景色 */
.theme-4 .nav-right-1 {
	color: #EEE;
	background-color: #222;
}

/* 工具栏悬浮颜色 */
.theme-4 .tool-fox:hover {
	background-color: #444;
}



/* ========================== 主题-5 灰色站看 (仿微信公众平台)0分 ==========================  */

.theme-5 {}

.theme-5 .nav-left-top{box-shadow: 0 2px 2px #CCC;}
.theme-5 .nav-left-top,
.theme-5 .nav-left-bottom{width: 199px; border-right: 1px #DDD solid;}
.theme-5.fold .nav-left-bottom{width: 63px;}
.theme-5 .el-submenu__icon-arrow.el-icon-arrow-down{display: none;}
.theme-5 .nav-left-bottom .menu-box-2{padding-bottom: 200px;}

/* 左边栏背景色，前景色 */
.theme-5 .nav-left {
	background-color: #EEE;
	color: #000;
}

/* 二级菜单背景色 */
.theme-5 .el-submenu .el-menu-item,
.theme-5 .nav-left .el-submenu .el-submenu .el-submenu__title{
	background-color: #EEE;
}

/* 所有菜单悬浮样式时, 以及选中时 */
.theme-5 .nav-left .el-submenu__title:hover,
.theme-5 .nav-left .el-submenu .el-submenu .el-submenu__title:hover,
.theme-5 .nav-left .el-menu-item:hover,
.theme-5 .nav-left .el-menu-item.is-active:hover {
	background-color: #ddd;
	color: #1AAD5E;
}
.theme-5 .nav-left .el-menu-item.is-active {background-color: #eee; color: #1AAD5E;}

/* 卡片栏悬浮颜色和选中颜色 */
.theme-5 .tab-title:hover,
.theme-5 .tab-native.tab-title {
	color: #1AAD5E;
}


/* ========================== 主题-6 钛合金 (仿 iview admin pro) ==========================  */
.theme-6 {}

/* 所有菜单选中时 */
.theme-6 .nav-left .el-menu-item.is-active {
	background-color: #805322;
	color: #FFF;
}

/* 卡片栏悬浮颜色和选中颜色 */
.theme-6 .tab-title:hover,
.theme-6 .tab-native.tab-title {color: #805322;}

/* 工具栏背景色颜色, 前景色 */
.theme-6 .nav-right-1 {color: #EEE;background-color: #222;}

/* 工具栏悬浮颜色 */
.theme-6 .tool-fox:hover {background-color: #444;}


/* ========================== 主题-7 沉淀式黑蓝 ==========================  */
.theme-7 {}
/* 工具栏背景色颜色, 前景色 */
.theme-7 .nav-right-1 {color: #EEE;background-color: #222;}
/* 工具栏悬浮颜色 */
.theme-7 .tool-fox:hover {background-color: #444;}

/* ========================== 主题-8 简约式灰蓝 ==========================  */
.theme-8 {}

/* 菜单悬浮着色 */
.theme-8 .nav-left .el-menu-item.is-active {
	background-color: #4E5465;
}