<!DOCTYPE html>
<html>
	<head>
		<title>商品分类-列表</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- 所有的 css & js 资源 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../../static/sa.css">
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
		<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
		<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
		<script src="../../static/sa.js"></script>
	</head>
	<body>
		<div class="vue-box" style="display: none;" :style="'display: block;'">
			<div class="c-panel">
				<!-- ------------- 检索参数 ------------- -->
				<div class="c-title">检索参数</div>
				<el-form ref="form" :model='p' @submit.native.prevent>
					<!-- <div class="c-item">
						<label class="c-label">记录id：</label>
						<el-input size="mini" v-model="p.id"></el-input>
					</div> -->
					<div class="c-item">
						<label class="c-label">分类名字：</label>
						<el-input size="mini" v-model="p.name"></el-input>
					</div>
					<div class="c-item" style="min-width: 0px;">
						<el-button size="mini" type="primary" icon="el-icon-search" @click="p.pageNo = 1; f5()">查询</el-button>
					</div>
				</el-form>
				<!-- ------------- 快捷按钮 ------------- -->
				<div class="fast-btn">
					<el-button size="mini" type="primary" icon="el-icon-plus" @click="add()">新增</el-button>
					<el-button size="mini" type="success" icon="el-icon-edit" @click="update($refs['data-table'].selection[0])"
						:disabled="!$refs['data-table'] || $refs['data-table'].selection.length != 1">修改</el-button>
					<el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteByIds()"
						:disabled="!$refs['data-table'] || $refs['data-table'].selection.length < 1">删除</el-button>
					<el-button size="mini" type="warning" icon="el-icon-download" @click="sa.exportExcel()">导出</el-button>
					<el-button size="mini" type="info"  icon="el-icon-refresh"  @click="sa.f5()">重置</el-button>
				</div>
				<!-- ------------- 数据列表 ------------- -->
				<el-table class="data-table" ref="data-table" :data="dataList" size="small">
					<el-table-column type="selection" width="45px"></el-table-column>
					<el-table-column label="id" prop="id" ></el-table-column>
					<el-table-column label="分类名字" prop="name" ></el-table-column>
					<el-table-column label="分类图标">
						<template slot-scope="s">
							<img :src="s.row.icon" @click="sa.showImage(s.row.icon, '400px', '400px')" v-if="s.row.icon" 
								style="width: 3em; height: 3em; border-radius: 3px; cursor: pointer;" />
							<div v-else>无</div>
						</template>
					</el-table-column>
					<el-table-column label="排序值" prop="sort" ></el-table-column>
					<el-table-column label="创建日期">
						<template slot-scope="s"><span>{{sa.forDate(s.row.create_time, 2)}}</span></template>
					</el-table-column>
					<el-table-column label="操作" width="240px">
						<template slot-scope="s">
							<el-button class="c-btn" type="success" icon="el-icon-view" @click="get(s.row)">查看</el-button>
							<el-button class="c-btn" type="primary" icon="el-icon-edit" @click="update(s.row)">修改</el-button>
							<el-button class="c-btn" type="danger" icon="el-icon-delete" @click="del(s.row)">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
				<!-- ------------- 分页 ------------- -->
				<div class="page-box">
					<el-pagination background
						layout="total, prev, pager, next, sizes, jumper" 
						:current-page.sync="p.pageNo" 
						:page-size.sync="p.pageSize" 
						:total="dataCount" 
						:page-sizes="[1, 10, 20, 30, 40, 50, 100, 1000]" 
						@current-change="f5()" 
						@size-change="f5()">
					</el-pagination>
				</div>
			</div>
		</div>
		<script src="./moke-data.js"></script>
		<script>
			var app = new Vue({
				el: '.vue-box',
				data: {
					p: { // 查询参数  
						id: '',		// id  
						name: '',		// 分类名字  
						icon: '',		// 分类图标  
						sort: '',		// 排序值  
						create_time: '',		// 创建日期  
						pageNo: 1,		// 当前页 
						pageSize: 10,	// 页大小 
						sortType: 0	// 排序方式 
					},
					dataCount: 0,
					dataList: [], // 数据集合 
				},
				methods: {
					// 刷新
					f5: function() {
						sa.ajax2('/SysType/getList', sa.removeNull(this.p), function(res) {
							this.dataList = res.data; // 数据
							this.dataCount = res.dataCount; // 数据总数 
							sa.f5TableHeight();		// 刷新表格高度 
						}.bind(this), {res: getMockData(this.p.name)});
					},
					// 查看
					get: function(data) {
						sa.showIframe('数据详情', 'sys-type-info.html?id=' + data.id, '600px', '500px');
					},
					// 修改
					update: function(data) {
						sa.showIframe('修改数据', 'sys-type-add.html?id=' + data.id, '420px', '280px');
					},
					// 新增
					add: function(data) {
						sa.showIframe('新增数据', 'sys-type-add.html?id=-1', '420px', '280px');
					},
					// 删除
					del: function(data) {
						sa.confirm('是否删除？此操作不可撤销', function() {
							sa.ajax2('/SysType/delete?id=' + data.id, function(res) {
								sa.arrayDelete(this.dataList, data);
								sa.ok('删除成功');
								sa.f5TableHeight();		// 刷新表格高度 
							}.bind(this))
						}.bind(this));
					},
					// 批量删除
					deleteByIds: function() {
						// 获取选中元素的id列表
						let selection = this.$refs['data-table'].selection;
						let ids = sa.getArrayField(selection, 'id');
						// 提交删除 
						sa.confirm('是否批量删除选中数据？此操作不可撤销', function() {
							sa.ajax2('/SysType/deleteByIds', {ids: ids.join(',')}, function(res) {
								sa.arrayDelete(this.dataList, selection);
								sa.ok('删除成功');
								sa.f5TableHeight();		// 刷新表格高度 
							}.bind(this))
						}.bind(this));
					},
				},
				created: function() {
					this.f5();
					sa.onInputEnter();
				}
			})
		</script>
	</body>
</html>
